doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-areaselect.css')
    script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src='/javascripts/leaflet-areaselect.js')

  body
    block content
