body {
  padding: 20px;
  margin-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#map {
  width: 100%;
  min-height: 500px;
  height: 100%;
  margin-top: 30px;
}


.leaflet-areaselect-shade {
    position: absolute;
    background: rgba(0,0,0, 0.4);
    z-index: 409;
}
.leaflet-areaselect-handle {
    position: absolute;
    background: #fff;
    border: 1px solid #666;
    -moz-box-shadow: 1px 1px rgba(0,0,0, 0.2);
    -webkit-box-shadow: 1px 1px rgba(0,0,0, 0.2);
    box-shadow: 1px 1px rgba(0,0,0, 0.2);
    width: 14px;
    height: 14px;
    cursor: move;
    z-index: 409;
}